main{
    width: 100%;
    margin-top: 1.5%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.side-bar{
    width: 25%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* gap: 1.5%; */
    /* height: 100%; */
    gap: 5%;
}
.trailers{
    background-color: rgba(255, 255, 255, 0.069);
    border: 1px solid rgba(255, 255, 255, 0.337);
    border-radius: 20px;
    color: white;
    backdrop-filter: blur(1px);
    padding: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 50%;
}

.trailers > h2{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    height: 5%;
}

.trailer-card1{
    background-image: url("../images/breakingbad.jpg");
    background-size: cover;
    border-radius: 20px;
    /* margin-top: 17px; */
    height: 43%;
    display: flex;
    align-items: end;
}

.trailer-card2{
    background-image: url("../images/breakingbad.jpg");
    background-size: cover;
    border-radius: 20px;
    /* margin-top: 17px; */
    height: 43%;
    display: flex;
    align-items: end;
}
.gradient-line{
    background-color: rgba(88, 88, 88, 0.244);   
    backdrop-filter: blur(12px);
    border-radius: 0 0 20px 20px;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trailer-btn{
    color: white;
    background-color: rgba(255, 255, 255, 0.069);
    border: 1px solid rgba(255, 255, 255, 0.337);
    padding: 14px 11.5px;
    border-radius: 100px;
}
.gradient-line > h3{
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}

.sec1{
    width: 71%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.continue{
    background-color: rgba(255, 255, 255, 0.069);
    border: 1px solid rgba(255, 255, 255, 0.337);
    border-radius: 20px;
    color: white;
    backdrop-filter: blur(1px);
    padding: 5%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.continue > h2{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.conti-line1, .conti-line2, .conti-line3{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conti-line1 > img, .conti-line2 > img, .conti-line3 > img{
    height: 100%;
    width: 25%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.377);
    border: 1px solid rgba(255, 255, 255, 0.337);
}

.conti-btn{
    color: white;
    background-color: rgba(109, 109, 109, 0.369);
    border: 1px solid rgba(255, 255, 255, 0.337);
    padding: 14px 11.5px;
    border-radius: 100px;
    margin-left: 40px;
}

.banner{
    width: 93%;
    height: 45%;
    border-radius: 20px;
    background-image: linear-gradient(rgba(37, 3, 3, 0.442),rgba(105, 64, 13, 0.565)), url("../images/aot4.jpg");
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 3.5%;
    border: 1px solid rgba(255, 255, 255, 0.337);
}
.banner > .content{
    width: 50%;
}
.banner > .content > .tags{
    display: flex;
    gap: 10px;
    align-items: center;
}

.banner > .content > .tags > p{
    background-color: rgba(255, 255, 255, 0.144);  
    border: 1px solid rgba(255, 255, 255, 0.237); 
    backdrop-filter: blur(6px);
    border-radius: 100px;
    padding: 4px 20px;
    color: rgba(255, 255, 255, 0.814);
    font-weight: 600;
}

.sec1 > .banner > .content > h1{
    font-size: 50px;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.sec1 > .banner > .content > .desc{
    color: rgb(221, 221, 221);
    margin-top: 2px;
}
.bunner-btns{
    display: flex;
    gap: 20px;
    align-items: center;
}

.play, .download, .more{
    color: white;
    background-color: rgba(109, 109, 109, 0.369);
    border: 1px solid rgba(255, 255, 255, 0.337);
    padding: 14px 11.5px;
    border-radius: 100px;
}

.navigation > a{
    color: white;
    background-color: rgba(109, 109, 109, 0.369);
    border: 1px solid rgba(255, 255, 255, 0.337);
    padding: 14px 11.5px;
    border-radius: 100px;
}
.navigation{
    display: flex;
    gap: 20px;
    align-items: center;
}
.trands{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 35%;
}
.trand-card1, .trand-card2, .trand-card3, .trand-card4{
    height: 100%;
    width: 22%;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.337);
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-size: cover;
    background-position: center center;
    gap: 10%;
}
.trand-card1{
    background-image: linear-gradient(rgba(37, 3, 3, 0.342),rgba(105, 64, 13, 0.365)), url("../images/chel-pauk.webp");
}
.trand-card2{
    background-image: linear-gradient(rgba(37, 3, 3, 0.342),rgba(105, 64, 13, 0.365)), url("../images/chel.jpg");
}
.trand-card3{
    background-image: linear-gradient(rgba(37, 3, 3, 0.342),rgba(105, 64, 13, 0.365)), url("../images/mc.jpeg");
}
.trand-card4{
    background-image: linear-gradient(rgba(37, 3, 3, 0.342),rgba(105, 64, 13, 0.365)), url("../images/shrek.webp");
}
.trand-info{
    margin-bottom: 10%;
    margin-left: 10%;
    color: white;
}
.trand-info > .tagg{
    background-color: rgba(255, 255, 255, 0.144);  
    border: 1px solid rgba(255, 255, 255, 0.237); 
    backdrop-filter: blur(6px);
    border-radius: 100px;
    padding: 4px 20px;
    color: rgba(255, 255, 255, 0.814);
    font-weight: 600;
    width: fit-content;
    margin: 0;
}
.trand-info > h3{
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 5px;
}
.trand-info > p{
    font-size: 14px;
    font-weight: 200;
    margin: 0;
    margin-bottom: 10px;
}
.trand-info > a{
    color: white;
    width: fit-content;
    border-bottom: 1px solid white;
}

.trand-btn{
    margin-bottom: 10%;
    margin-right: 10%;
    color: white;
    background-color: rgba(255, 255, 255, 0.369);
    border: 1px solid rgba(255, 255, 255, 0.337);
    padding: 14px 11.5px;
    border-radius: 100px;
}